 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(232, 240, 255, 0.6), rgb(255, 255, 255));
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 449px;
}

.u-section-1 .u-text-1 {
  --text-color-var: #0a1a2f;
  font-weight: 700;
  margin: 0 872px 0 0;
}

.u-section-1 .u-text-2 {
  --text-color-var: #2c3e50;
  font-size: 2.125rem;
  font-weight: 400;
  margin: 38px 50px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 777px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 595px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 446px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 226px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}