 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(232, 240, 255, 0.6), rgb(255, 255, 255));
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 790px;
}

.u-section-1 .u-image-1 {
  width: 540px;
  min-height: 617px;
  height: auto;
  --text-color-var: #111111;
  filter: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("images/wqe-min.jpg");
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, contain;
  margin: 118px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px;
}

.u-section-1 .u-text-1 {
  --text-color-var: #002e5d;
  font-weight: 700;
  margin: 10px auto 0 0;
}

.u-section-1 .u-list-1 {
  width: 570px;
  margin: -648px 0 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 617px;
  --gap: 10px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 10px 20px 20px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  --text-color-var: #002e5d;
  margin: 0 172px 0 0;
}

.u-section-1 .u-text-3 {
  --text-color-var: #2c3e50;
  font-weight: 700;
  margin: 10px 142px 0 0;
}

.u-section-1 .u-text-4 {
  --text-color-var: #2c3e50;
  margin: 17px 114px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px 10px 20px 20px;
}

.u-section-1 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  --text-color-var: #002e5d;
  margin: 0 172px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  --text-color-var: #2c3e50;
  margin: 10px 142px 0 0;
}

.u-section-1 .u-text-7 {
  --text-color-var: #2c3e50;
  margin: 17px 114px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 10px 20px 20px;
}

.u-section-1 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  --text-color-var: #002e5d;
  margin: 0 172px 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  --text-color-var: #2c3e50;
  margin: 10px 142px 0 0;
}

.u-section-1 .u-text-10 {
  --text-color-var: #2c3e50;
  margin: 17px 114px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1367px;
  }

  .u-section-1 .u-image-1 {
    width: 685px;
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 470px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-gap: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 72px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 42px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 14px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 72px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 42px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 14px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 72px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 42px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-1 .u-image-1 {
    min-height: 532px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1357px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    margin-top: 781px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    margin-top: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-2 {
  --color-var: #f7f9fc;
}

.u-section-2 .u-sheet-1 {
  min-height: 722px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  --text-color-var: #0a1a2f;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-2 .u-group-1 {
  width: 600px;
  min-height: 548px;
  height: auto;
  --border-color-var: #d0d7e2;
  --radius: 8px;
  box-shadow: 0px 4px 20px 0px rgba(17,17,17,0.2);
  margin: 47px 255px 45px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 18px 10px;
}

.u-section-2 .u-form-1 {
  height: 507px;
  width: 520px;
  margin: 0 auto;
}

.u-section-2 .u-label-1 {
  font-size: 1.125rem;
  --text-color-var: #2c3e50;
}

.u-section-2 .u-input-1 {
  font-weight: 600;
}

.u-section-2 .u-label-2 {
  font-size: 1.125rem;
  --text-color-var: #2c3e50;
}

.u-section-2 .u-input-2 {
  font-weight: 600;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  font-size: 1.125rem;
  --text-color-var: #2c3e50;
}

.u-section-2 .u-input-3 {
  font-weight: 600;
}

.u-section-2 .u-label-4 {
  font-size: 1.125rem;
  --text-color-var: #2c3e50;
}

.u-section-2 .u-input-4 {
  font-weight: 600;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    --color-var: #f7faff;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-right: 120px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-form-1 {
    width: 320px;
  }
}