 .u-section-1 {
  background-image: url("images/two-accountants-side-by-side.webp");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 633px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 449px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }
} .u-section-2 {
  background-image: linear-gradient(rgba(232, 240, 255, 0.35), rgba(255, 255, 255, 0.5));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 772px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 586px;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 9px;
}

.u-section-2 .u-image-1 {
  width: 108px;
  height: 109px;
  margin: 17px auto 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  --text-color-var: #2c3e50;
  font-size: 1.875rem;
  margin: 14px 0 0;
}

.u-section-2 .u-text-2 {
  --text-color-var: #2c3e50;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 4px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 586px;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 0;
}

.u-section-2 .u-image-2 {
  width: 212px;
  height: 56px;
  margin: 41px auto 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  --text-color-var: #0a1a2f;
  font-size: 1.6875rem;
  margin: 39px 0 0;
}

.u-section-2 .u-text-4 {
  --text-color-var: #2c3e50;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 1px 15px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 586px;
}

.u-section-2 .u-container-layout-3 {
  padding: 3px 0;
}

.u-section-2 .u-image-3 {
  width: 197px;
  height: 138px;
  margin: 4px auto 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  --text-color-var: #0a1a2f;
  font-size: 2rem;
  margin: 25px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 400;
  --text-color-var: #000000;
  margin: 34px 15px 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 586px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 6px;
}

.u-section-2 .u-image-4 {
  width: 157px;
  height: 51px;
  margin: 61px auto 0 17px;
}

.u-section-2 .u-image-5 {
  width: 75px;
  height: 78px;
  margin: -78px 10px 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  --text-color-var: #0a1a2f;
  margin: 57px auto 0 5px;
}

.u-section-2 .u-text-8 {
  --text-color-var: #2c3e50;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 16px 0 0 18px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 140px;
  }

  .u-section-2 .u-text-3 {
    margin-right: -10px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 483px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 483px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 140px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 12px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 15px;
  }

  .u-section-2 .u-image-2 {
    width: 180px;
    height: 48px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    width: 180px;
    height: 126px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-2 .u-image-4 {
    margin-left: 11px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 190px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -226px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-2 .u-text-1 {
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-2 .u-image-5 {
    margin-top: -245px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 209px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1741px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 11px;
    margin-left: 1px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 21px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 375px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 422px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 48px;
    margin-left: 4px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -64px;
    margin-right: 71px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 32px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 8px;
  }
} .u-section-3 {
  background-image: linear-gradient(to bottom, rgba(232, 240, 255, 0.3), rgba(255, 255, 255, 0.5)), linear-gradient(to bottom, rgba(233, 242, 250, 1), rgba(233, 242, 250, 1));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 766px;
}

.u-section-3 .u-image-1 {
  height: 551px;
  width: 1098px;
  object-position: 0% 50%;
  margin: 108px auto 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 478px;
  margin: -149px auto 50px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 256px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 15px;
}

.u-section-3 .u-text-1 {
  --text-color-var: #0a1a2f;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-3 .u-image-1 {
    height: 526px;
    width: 848px;
    margin-top: 98px;
    margin-left: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 876px;
    margin: -218px 100px 42px 192px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-3 .u-image-1 {
    height: 446px;
    width: 720px;
    margin-left: 210px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 663px;
    margin: -138px 210px 50px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-3 .u-image-1 {
    height: 335px;
    width: 540px;
    margin-left: 300px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 439px;
    margin-top: -47px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-3 .u-image-1 {
    height: 211px;
    width: 340px;
    margin-top: 90px;
    margin-left: -14px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 309px;
    margin-top: -70px;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 179px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }
}