 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(232, 240, 255, 0.6), rgb(255, 255, 255));
  background-size: cover;
  --text-color-var: #111111;
}

.u-section-1 .u-sheet-1 {
  min-height: 721px;
}

.u-section-1 .u-text-1 {
  --text-color-var: #0a1a2f;
  font-weight: 600;
  margin: 21px auto 0 0;
}

.u-section-1 .u-text-2 {
  --text-color-var: #2c3e50;
  margin: 22px -10px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 0;
}

.u-section-1 .u-text-3 {
  --text-color-var: #0a1a2f;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-4 {
  --text-color-var: #2c3e50;
  color: rgb(44, 62, 80) !important;
  margin: 61px -1px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
  filter: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 3px;
}

.u-section-1 .u-text-5 {
  --text-color-var: #0a1a2f;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-6 {
  --text-color-var: #2c3e50;
  color: rgb(44, 62, 80) !important;
  margin: 20px 3px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-3 {
  padding: 9px 0;
}

.u-section-1 .u-text-7 {
  --text-color-var: #0a1a2f;
  font-size: 1.875rem;
  margin: 8px 16px 0;
}

.u-section-1 .u-text-8 {
  --text-color-var: #2c3e50;
  color: rgb(44, 62, 80) !important;
  margin: 46px auto 0 -6px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-text-9 {
  --text-color-var: #0a1a2f;
  font-size: 1.6875rem;
  margin: 10px 7px 0;
}

.u-section-1 .u-text-10 {
  --text-color-var: #2c3e50;
  color: rgb(44, 62, 80) !important;
  margin: 21px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 8px;
}

.u-section-1 .u-text-11 {
  --text-color-var: #0a1a2f;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-12 {
  --text-color-var: #2c3e50;
  color: rgb(44, 62, 80) !important;
  margin: 89px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-left: 52px;
    margin-right: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1315px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 22px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 131px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 18px;
    margin-right: -7px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 154px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 210px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 18px;
    margin-right: -7px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 216px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 175px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 23px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 19px;
  }
}